.DS_Store
debug*
Models/
*/model/
*/checkpoints/
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/**/__pycache__
.vscode/
Audio/dataset/mfcc/
Audio/results/**/
Audio/results2/
Audio/results3/
Audio/results3_*/
Audio/results_*/
Audio/sample/
Audio/code/temp/
Audio/code/temp*/
*/*archive*
Data/*/
Data/*.mp4
Data/*.wav
Deep3DFaceReconstruction/BFM/01_MorphableModel.mat
Deep3DFaceReconstruction/BFM/BFM_model_front.mat
Deep3DFaceReconstruction/BFM/Exp_Pca.bin
Deep3DFaceReconstruction/output/**/
Deep3DFaceReconstruction/network/
Deep3DFaceReconstruction/*.dat
Deep3DFaceReconstruction/*.png
Models
render-to-video/arcface/iden_feat/
render-to-video/arcface/models/
render-to-video/datasets/
render-to-video/results/
commands.txt
WM3DR/*/__pycache__/
WM3DR/*/*/__pycache__/
WM3DR/model/
WM3DR/result/*/
WM3DR/result0/
WM3DR/temp/
WM3DR/video/
WM3DR/.git/
WM3DR/result/*.mov
WM3DR/*.txt
GPEN
*.zip
tmptest/
